<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HomeMessage.vue";
let theme: string;
theme = window.matchMedia("(prefers-color-scheme: dark)").matches
  ? "dark"
  : "light";
console.log(theme);
</script>

<template>
  <header>
    <!-- <img
      v-if="theme === 'light'"
      alt="Vue logo"
      class="logo"
      src="./assets/logo.png"
      width="257"
      height="93"
    />
    <img
      v-if="theme === 'dark'"
      alt="Vue logo"
      class="logo"
      src="./assets/logo_white.png"
      width="257"
      height="93"
    /> -->
    <br />
    <br />
    <div class="wrapper">
      <HelloWorld msg="Sistema com OTTx" />

      <nav>
        <RouterLink to="/enroll">Registrar Identidade</RouterLink>
        <RouterLink to="/authenticate">Enviar Transação</RouterLink>
      </nav>
      <br />
    </div>
  </header>

  <RouterView />
</template>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  nav a {
    border-left: none;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
