<script lang="ts">
import { useRoute } from "vue-router";
import WalletService from "@/services/wallet.service";
import { onMounted, ref } from "vue";
import { generateInitialOTP, generateKeys } from "@/crypto";

import { useUserStore } from "@/stores/user";

export default {
  setup() {
    let privateKey = ref(null);
    let publicKey = ref(null);
    let count = ref(0);
    let userStore = useUserStore();
    let message: any = ref([]);
    let route = useRoute();
    let id: any = ref(null);
    let password: any = ref(null);
    let error: any = false;
    const blocked = ref(false);
    if (route.query.id && route.query.secret) {
      id.value = route.query.id;
      password.value = route.query.secret;
    }

    onMounted(async () => {
      console.log("mounted");
    });

    const callGenerateKeys = async () => {
      console.time("callGenerateKeys");
      blocked.value = true;
      let res = await generateKeys();
      console.log(res);

      privateKey.value = res.privateKey;
      publicKey.value = res.publicKey;
      userStore.data.userData.privateKey = res.privateKey
      userStore.data.userData.publicKey = res.publicKey
      console.timeEnd("callGenerateKeys");
      blocked.value = false;
    };
    const callGenerateInicialOTP = async () => {
      console.time("callGenerateInicialOTP");
      blocked.value = true;

      userStore.data = await generateInitialOTP(
        id.value,
        password.value,
        privateKey.value,
        publicKey.value
      );
      console.log(userStore.data);
      console.timeEnd("callGenerateInicialOTP");
      blocked.value = false;
    };

    const submit = async () => {
      console.time("register");
      blocked.value = true;
      if (!id.value || !password.value) {
        console.log("error");
        message.value = [
          {
            severity: "error",
            content: "Por favor, preencha todos os campos.",
            id: count.value++,
          },
        ];
        blocked.value = false;
        return;
      }
      message.value = [
        {
          severity: "warn",
          content: "Criando identidade, aguarde...",
          id: count.value++,
        },
      ];
      try {
        await WalletService.postRegister(userStore.data.data);
        message.value = [
          {
            severity: "success",
            content: "Identidade criada.",
            id: count.value++,
          },
        ];
        blocked.value = false;
        console.timeEnd("register");
      } catch (err) {
        console.log(err);
        console.log("error");
        if (!err.response) {
          message.value = [
            {
              severity: "error",
              content: err.message,
              id: count.value++,
            },
          ];
        } else {
          message.value = [
            {
              severity: "error",
              content: err.response.data.message,
              id: count.value++,
            },
          ];
        }
        blocked.value = false;
      }
    };
    return {
      submit,
      callGenerateInicialOTP,
      callGenerateKeys,
      route,
      userStore,
      privateKey,
      publicKey,
      message,
      blocked,
      id,
      count,
      password,
      error,
    };
  },
};
</script>

<template>
  <ProgressSpinner
    v-if="blocked"
    style="width: 50px; height: 50px"
    strokeWidth="6"
    fill="var(--surface-ground)"
    animationDuration=".5s"
    aria-label="Custom ProgressSpinner"
  />

  <Message v-for="msg of message" :severity="msg.severity" :key="msg.id">{{
    msg.content
  }}</Message>
  <BlockUI :blocked="blocked">
    <div class="greetings">
      <h1>Registrar Identidade</h1>
    </div>
    <Card class="m-3">
      <template #title> Seus dados: </template>
      <template #content>
        <p>
          Chave Privada:
          {{
            userStore.data.userData
              ? userStore.data.userData.privateKey.substring(32, 40)
              : ""
          }}...
        </p>
        <p>
          Chave Pública:
          {{
            userStore.data.userData
              ? userStore.data.userData.publicKey.substring(32, 40)
              : ""
          }}...
        </p>
        <p>
          Index Atual:
          {{ userStore.data.userData.otp ? userStore.data.userData.otp.index : "" }}
        </p>
        <p>
          Token Atual:
          {{
            userStore.data.userData.otp
              ? userStore.data.userData.otp.OTP.substring(0, 10)
              : ""
          }}...
        </p>
        <p>
          Próximo Token:
          {{
            userStore.data.userData.otp
              ? userStore.data.userData.otp.nextOTPHash.substring(0, 10)
              : ""
          }}...
        </p>
        <p>
          Messagem Assinada:
          {{
            userStore.data.userData.otp
              ? userStore.data.userData.otp.signedMessage.substring(0, 10)
              : ""
          }}...
        </p>
      </template>
    </Card>
          <br>
    <div class="grid p-fluid">
      <div class="col-12 md:col-4">
        <label>ID</label>
        <div class="p-inputgroup">
          <InputText
            type="text"
            class="p-inputtext-lg"
            placeholder="Digite um ID"
            v-model="id"
          />
        </div>
      </div>
      <br />
      <div class="col-12 md:col-4">
          <label>Password</label>
        <div class="p-inputgroup">
          <InputText
            class="p-inputtext-lg"
            v-model="password"
            placeholder="Digite uma senha"
            type="password"
          />
        </div>
      </div>
      <br />
          <Button
            label="1. Gerar Chaves"
            @click="callGenerateKeys()"
            :disabled="blocked"
          />
          <br>
          <br>
          <Button
            label="2. Gerar Token Inicial"
            @click="callGenerateInicialOTP()"
            :disabled="blocked"
          />
          <br>
          <br>
          <Button
            label="3. Registrar Identidade"
            @click="submit()"
            :disabled="blocked"
          />
    </div>
  </BlockUI>
</template>
<style scoped>
</style>
